:root {
  --background: #f9dec9;
  --card-color: #99b2dd;
  --text-color: #3a405a;
  --button-color: #e9afa3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  background: var(--background);
  overflow-x: hidden;
}

.header {
  width: 100%;
  display: inline-flex;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: var(--green) solid 2px;
}
h2 {
  flex: 1;
}

.container {
  display: grid;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  gap: 2rem;
  grid-template-columns: repeat(4, auto);
  perspective: 1000px;
}
button {
  width: 4rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
  margin-bottom: 2rem;
  border: 1px white solid;
  background-color: orangered;
  color: #fff;
}
button.start {
  background-color: var(--button-color);
  border: 1px var(--text-color) solid;
  color: var(--text-color);
}

/* ***************************************************************
                        SELECT STYLING
*************************************************************** */

.level:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.25);
}
.level:hover {
  border-color: #999;
}
.level {
  text-align: center;
  appearance: none;
  padding: 8px 30px 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M7 10l5 5 5-5z" fill="currentColor"/></svg>'); /* replace with your custom dropdown arrow icon */
  background-repeat: no-repeat;
  background-position: right 10px center;
  cursor: pointer;
}

/* ***************************************************************
                          CARD STYLING
*************************************************************** */

.card {
  border-radius: 1.5rem;
  border: var(--card-color) solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease;
  width: 8rem;
  height: 8rem;
  background-color: var(--card-color);
}

.card.shown {
  position: relative;
  transform: rotateY(360deg); /* Flipped state */
}
.card.hidden {
  color: var(--red);
  cursor: pointer;
  transform: rotateY(180deg);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s ease;
}

@media only screen and (max-width: 900px) {
  .container {
    display: flex;
    justify-content: center;
  }
}

/* ***************************************************************
                        MODAL STYLING
*************************************************************** */

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background);
  border: 2px solid var(--card-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  width: 50rem;
  height: 20rem;
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out; /* Apply fade-in animation */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: var(--text-color);
}

.fa.fa-window-close {
  font-size: large;
  cursor: pointer;
  align-self: flex-end;
}

.model-content {
  color: var(--text-color);
}

footer {
  color: var(--text-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
